

  <div class="ui menu">
    <a routerLink="home" routerLinkActive="active"   class="item" >Home</a>   
    <a routerLink="fragen" routerLinkActive="active" class="item" >Frageliste</a> 
    <a routerLink="../../fragen/0" routerLinkActive="active" class="item" >Lernmodus</a> 
    <a routerLink="tpmpool" routerLinkActive="active" class="item" >Teil-Prüfmodus</a> 
    <a routerLink="vpmodus" routerLinkActive="active" class="item" >Voll-Prüfmodus</a>  
  
  </div>
  <router-outlet></router-outlet>

  