<div class="mydiv1">
    <div class="mydiv2"> Vorbereitung auf die LPIC-101 Zertifizierung</div>
    <br>
    <br>
    <div style="margin-top:5px;margin-left:325px; width:350px;font-size: x-large; padding:15px; text-align:center; 
    height:70px; border-radius:2%; background-color:white;">Lern & Prüfsimulator</div>
    <br>
    <br>

      <img style="float: left;margin-top:30px; width:450px; height:290px; margin-left:60px" src="https://images.idgesg.net/images/article/2017/05/linux-distros-100724403-large.jpg" alt="">  

<br>
<br>
    <a routerLink="../fragen" style="margin-top:5px;margin-left:60px; width:300px;font-size: x-large; padding:15px; text-align:center; 
    height:50px; border-radius:2%; background-color:white;" class="ui white button">Frageliste</a>
    <br>
    <br>
    <a routerLink="../fragen/0" style="margin-top:5px;margin-left:60px;  width:300px;font-size: x-large; padding:15px; text-align:center; 
    height:50px; border-radius:2%; background-color:white;" class="ui white button">Lernmodus</a>
    <br>
    <br>
    <a routerLink="/tpmpool" style="margin-top:5px; margin-left:60px; width:300px;font-size: x-large; padding:15px; text-align:center; 
    height:50px; border-radius:2%; background-color:white;" class="ui white button">Teil-Prüfmodus</a>
    <br>
    <br>
    <a routerLink="../vpmodus" style="margin-top:5px; margin-left:60px; width:300px;font-size: x-large; padding:15px; text-align:center; 
    height:50px; border-radius:2%; background-color:white;" class="massive ui button">Voll-Prüfmodus</a>